@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#sidebar {
    position: absolute;
    width: 650px;
    height: 100%;
    background: #343434;
    left: -650px;
    transition: .4s;
}

#sidebar.active {
    left: 0;
}

#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
}

#sidebar .toggle-button {
    position: absolute;
    top: 30px;
    left: 700px;
}

.toggle-button span {
    width: 40px;
    height: 5px;
    background: #1c9dd8; 
    display: block;
    margin-top: 4px;
}


  .sidebar a, .dropdown-btn {
    padding: 40px 20px 15px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: #f1f1f1;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .sidebar a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; 
    font-size: 20px;
    padding: 0px 10px;
  }
  
  .active {
    background-color: green;
    color: white;
  }
  
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  .fas-fa-caret-down {
    float: right;
    padding-right: 8px;
  }